<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsCraftAnmelden</title>
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap.css" media="all">
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap-theme.css" media="all">
    <script type="text/javascript"
            src="../resources/js/jquery.js"></script>
    <script type="text/javascript"
    src="../resources/Standartbootstrap/js/bootstrap.js"></script>
    <script type="text/javascript"
    src="../resources/Standartbootstrap/js/npm.js"></script>
</head>
<body>
<h2>Anmeldung</h2>
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Vorname</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Nadine">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Nachname</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Wong">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail2">Klassen Code</label>
    <input type="email" class="form-control" id="exampleInputEmail2" maxlength="15" placeholder="XXXXX-XXXXX-XXXXX">
  </div>
  <a href="options.html"><button type="button" class="btn btn-default">Anmelden</button></a>
</form>

<!--<form>

<input type="text" placeholder="Vorname">
<input type="text" placeholder="Nachname">
<input type="text" placeholder="Klassencode">
<a href="options.html"><input type="button" value="Anmelden"></a>
</form>!-->
</body>
</html>