<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsCraft</title>
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../main/templates/Titelseite.css">
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap-theme.css" media="all">
    <script type="text/javascript"
            src="../resources/js/jquery.js"></script>
    <script type="text/javascript"
            src="../resources/Standartbootstrap/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="../resources/Standartbootstrap/js/npm.js"></script>
</head>
<body>
<div class="Hintergrund">
    <section class="Artikel">
        <article>
            <h1>A1</h1>
        </article>
        <article>
            <h1>A2</h1>
        </article>
        <article>
            <h1>A3</h1>
        </article>
        <article>
            <h1>A4</h1>
        </article>
    </section>
    <section class="create">
        <h2>Erstellen</h2>
        <input class="text" type="button"/>
        <input class="audio" type="button"/>
        <input class="video" type="button"/>
        </textarea>
    </section>
    <div class
    "Newsfeed">
    <article class="Article_1">
        <h3>Artikel 1</h3>
    </article>
    <article class="Article_2">
        <h3>Artikel 2</h3>
    </article>
    <article class="Article_3">
        <h3>Artikel 3</h3>
    </article>
    <article class="Article_4">
        <h3>Artikel 4</h3>
    </article>
</div>


</div>
</body>
</html>