<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap.css" media="all">
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap-theme.css" media="all">
    <script type="text/javascript"
            src="../resources/js/jquery.js"></script>
    <script type="text/javascript"
    src="../resources/Standartbootstrap/js/bootstrap.js"></script>
    <script type="text/javascript"
    src="../resources/Standartbootstrap/js/npm.js"></script>
</head>
<body>
<a href="http://getbootstrap.com/">http://getbootstrap.com/</a>
</body>
</html>