<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap.css" media="all">
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap-theme.css" media="all">
    <link type="text/css" rel="stylesheet" href="mainht.css">
    <link type="text/css" rel="stylesheet" href="Titelseite.css">
    <script type="text/javascript"
            src="../resources/js/jquery.js"></script>
    <script type="text/javascript"
            src="../resources/Standartbootstrap/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="../resources/Standartbootstrap/js/npm.js"></script>
    <script type="text/javascript"
            src="../../main/seite2/resources/js/newscraft.js"></script>
</head>
<body>

<div class="Hintergrund">
    <!-- Menu Anfang -->
    <nav class="navbar navbar-default">
        <div id="basti-container-fluid" class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a id="basti-navbar-brand_1" class="navbar-brand" href="profil.html">Profil</a>
                <a id="basti-navbar-brand_2" class="navbar-brand" href="meinNewscraft.html">Mein Newscraft</a>
                <a id="basti-navbar-brand_3" class="navbar-brand" href="klasenzimmer.html">Klassenzimmer</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Menu Ende -->

    <div class="Hintergrund">

        <h2>
            Klassenzimmer
        </h2>
        <div>
            <div class="Newsfeed">
                <div class="Article_2">
                    <img src="testIcon.svg" style="       position: absolute;
                     margin-left: -199px;
                        margin-top: -5px;
                         width:100px"
                    >
                    <h2>
                        Ein Kommentar von Linda
                    </h2>
                    <a href="profil.html">Linda</a>
                    <div>
                        <span>Wenn die Briten raus aus der EU wolle, sollen sie das doch
                        machen und für den Brexit stimmen. Für mich ändert sich dadurch nicht viel. Außer, dass es
                        vielleicht bald keinen Schüleraustausch mehr nach London gibt. Die Engländer wollen doch auch
                        immer eine Sonderrolle einnehmen. Es gibt dort ja auch keinen Euro.
                            </span>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>


                    <img src="audioLogo.svg" style="       position: absolute;
                     margin-left: -199px;
                        margin-top: -5px;
                         width:100px"
                    >
                    <h2>
                        Claudias Umfrage: Soll England in der EU bleiben?
                    </h2>
                    <a href="profil.html">Claudia</a>
                    <br>
                    <audio src="brexit%20umfrage.wav" controls></audio>
                    <br>
                    <br>
                    <img src="videoIcon.svg" style="       position: absolute;
                     margin-left: -199px;
                        margin-top: -5px;
                         width:100px"
                    >
                    <h2>
                        Lindas Aufsager über die Abstimmung in GB
                    </h2>
                    <a href="profil.html">Linda</a>
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <video controls="play" class="embed-responsive-item">
                            <source src="../resources/video/Linda.mp4" type="video/mp4">
                        </video>
                    </div>
                    <h3>Möglicher "Brexit" treibt Unternehmen um
                        Viele niedersächsische Firmen befürchten negative </h3>
                </div>
                <div class="Article_2">
                    <a href="profil.html">Nadine</a>
                    <img src="ndr-logo.png" style="    position: absolute;
                                     margin-left: -250px;
                                     margin-top: -86px">

                    <p>Der mögliche "Brexit" sorgt auch bei vielen niedersächsischen Unternehmen für Sorgenfalten.
                        Negative Auswirkungen könnte ein möglicher EU-Austritt Großbritanniens zum Beispiel für die
                        Firma Metric aus Hannover haben. Rund 170 Metric-Mitarbeiter entwickeln und bauen im englischen
                        Swindon Parkschein-Automaten für den britischen Markt. Firmenchef Thomas Dibbern befürchtet,
                        dass es bei einem "Brexit" zu Einbußen kommen könnte.</p>
                    <img src="brittan.jpg">
                </div>
                <br>
                <br>
                <br>
                <div class="Article_1">
                    <img src="ndr-logo.png" style="    position: absolute;
                                       margin-left: -200px;
    margin-top: 5px;">
                    <h3>VW-Hauptversammlung: Demut und Reformwille</h3>
                    <a href="profil.html">Nadine</a>
                    <p>"Volkswagen ist mehr als diese Krise": Mit einer Mischung aus Demut und Reformwillen hat der
                        Volkswagen-Konzern um VW-Chef Matthias Müller am Mittwoch in Hannover bei seinen Anteilseignern
                        um
                        Rückhalt geworben. "Unser Konzern verfügt über Qualitäten, die nicht über Nacht verloren
                        gegangen
                        sind",
                        sagte Müller in seiner Rede bei der <a
                                href="http://volkswagen.gomexlive.com/vw_live_ag/?lang=de"
                                title="Link: Livestream: Hauptversammlung der Volkswagen AG"
                                target="_blank"><span class="icon icon_extlink"></span>VW-Hauptversammlung</a>.
                        Zum ersten Mal seit Bekanntwerden des <a
                                href="/nachrichten/niedersachsen/braunschweig_harz_goettingen/Die-VW-Abgas-Affaere-eine-Chronologie,volkswagen892.html"
                                title="Zum Artikel: Die VW-Abgas-Affäre: Eine Chronologie"><span
                                class="icon icon_video"></span>Abgas-Skandals</a>
                        hat sich die Führungsspitze des Konzerns auf dem hannoverschen Messegelände den Fragen - und
                        erwartungsgemäß heftiger Kritik vieler Aktionäre - gestellt.</p>
                    <img src="../../main/resources/img/art1.JPG" width="50%" height="50%">
                </div>
            </div>
        </div>

    </div>
</body>
</html>