#basti-container-fluid
{
    padding: 0;
}

#basti-navbar-brand_1
{
    border-right: 1px solid #E7E7E7;
    width: 180px;
    text-align: center;
    margin: 0;

}

#basti-navbar-brand_2
{
    border-right: 1px solid #E7E7E7;
    width: 180px;
    text-align: center;
    margin: 0;
}

#basti-navbar-brand_3
{
    border-right: 1px solid #E7E7E7;
    width: 180px;
    text-align: center;
    margin: 0;
}