<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profil</title>
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap.css" media="all">
    <link type="text/css" rel="stylesheet" href="../resources/Standartbootstrap/css/bootstrap-theme.css" media="all">
    <link type="text/css" rel="stylesheet" href="mainht.css">
    <link type="text/css" rel="stylesheet" href="Titelseite.css">
    <script type="text/javascript"
            src="../resources/js/jquery.js"></script>
    <script type="text/javascript"
            src="../resources/Standartbootstrap/js/bootstrap.js"></script>
    <script type="text/javascript"
            src="../resources/Standartbootstrap/js/npm.js"></script>
    <script type="text/javascript"
            src="../../main/seite2/resources/js/newscraft.js"></script>
</head>
<body>

<div class="Hintergrund">
    <!-- Menu Anfang -->
    <nav class="navbar navbar-default">
        <div id="basti-container-fluid" class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a id="basti-navbar-brand_1" class="navbar-brand" href="profil.html">Profil</a>
                <a id="basti-navbar-brand_2" class="navbar-brand" href="meinNewscraft.html">Mein Newscraft</a>
                <a id="basti-navbar-brand_3" class="navbar-brand" href="klasenzimmer.html">Klassenzimmer</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Menu Ende -->

    <div class="Hintergrund">

    </div>
</body>
</html>