body{}

.Hintergrund{
	width:50%;
	margin:auto;
	/*height:1080px;*/
	background:lightgrey;
}


img.Nadine{
	margin:0% 2% 2% 2%;
	float:left;
	border-radius:50%;

}

img.text{
	margin-left:5%;
	background-color:rgba(255,200,0,1);
	border-radius:50%;


}
img.video{
	margin-left:2.5%;
	background-color:rgba(255,255,0,1);
	border-radius:50%;
}
img.audio{
	margin-left:2.5%;
	background-color:rgba(255,255,0,1);
	border-radius:50%;

}
img.reax{
	margin-left:2.5%;
	background-color:rgba(100, 100, 255,1);
	border-radius:50%;
}
ul li{
	float:left;
	font-size:3vh;
	list-style:none;


}


hr{
	clear:both;

}

section.Artikel{
	margin:auto;
	width:95%;
}

.Artikel article{
	margin:6% 2.5% 10% 3%;
	float:left;
	width:90px;
	height:90px;
}

section.create{
	margin:auto;
	width:95%;
}
section.create textarea{
	height:150px;
	width:100%;
}
input.text{
	background-color:#fff;
	background-image:url(http://image.flaticon.com/icons/svg/118/118779.svg);
	background-repeat:no-repeat;
	background-size:cover;
	width:150px;
	height:150px;

}
input.text:hover{opacity:0.5;

}
input.audio{
	background-color:#fff;
	background-image:url(http://image.flaticon.com/icons/svg/109/109512.svg);
	background-repeat:no-repeat;
	background-size:cover;
	width:150px;
	height:150px;

}
input.audio:hover{opacity:0.5;

}
input.video{
	background-color:#fff;
	background-image:url(http://image.flaticon.com/icons/svg/149/149647.svg);
	background-repeat:no-repeat;
	background-size:cover;
	width:150px;
	height:150px;

}
input.video:hover{opacity:0.5;

}

article.Article_1{
	height:100px;
	background-color:#aaa;
}
article.Article_2{
	height:100px;
	background-color:#aaa;
}
article.Article_3{
	height:100px;
	background-color:#aaa;
}
article.Article_4{
	height:100px;
	background-color:#aaa;
}


/*options css*/

a{
	opacity:0.5;
	float:right;
	margin: 3%;
	transition:1s;
}

a:hover{
	opacity:1;
}
.pb{
	width:50%;
	height:10%;
}
.pb img{
	float:left;
}
.pb img.unicorn{
	margin-right:1%;

}

.pb img.sun{
	margin-right:1%;

}
.pb h3{
}

/*anmeldeseite*/
h2{
	color:white;
	margin-left:1%;
}
form{
	font-size:3vh;
	margin-left:1%;

}